<!DOCTYPE html>
<html lang="en">
<head>
  <title>Schoenstatt Cali</title>
  <link rel="shortcut icon" href="https://dl.dropboxusercontent.com/s/5z393mys7jujbxb/logo_yellow_no_bg.png?dl=0">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
  integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<style>
  .contactanos{
      margin-top: 100px;
  }
  .navbar-brand{
    font-size: 24px;
  }
  .nav-item{
    font-size: 20px;
  }
  .txt{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    text-align: justify;
    font-weight:300;
  }
  .title{
      margin: auto;
      text-align: center;
      margin-top: 10px;
  }
  @media only screen and (max-width: 700px) {
    .txt{
      font-size: 20px;
      text-align: justify;
      font-weight: 300;
      padding: 2px 12px;
    }
    ul.txt{
        padding: 2px 12px;
        margin-left: 30px;
    }
  }
  @media only screen and (max-width: 1000px) {
    .txt{
      font-size: 20px;
      text-align: justify;
      font-weight: 300;
    }
  }
  .flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: stretch;
    justify-content: flex-start;
  }
  .item{
    flex: 40%;
    padding: 10px !important;
  }
  .btn{
    border: 3px outset #ffcc00;
    color: white;
    background-color: #010066;
    padding: 13px;
  }
  /* Change color on hover */
  .btn:hover{
    border:3px outset #ffcc00;
    color: #ffcc00;
    background-color:  #0c099e;
  }
  .nav-link:hover{
    color: #ffcc00 !important;
  }
  .nav-link{
    color: white !important;
  }
  article{
    padding: 10px;
  }
  .slides{
    border:3px outset #0c099e;
    max-width: 800px;
  }
  .form{
    color: #0c099e !important;
  }
  .navbar-toggler{
    border: 2px outset #ffcc00 !important;
    color: black;
  }
  .navbar-toggler:hover{
    background-color: #7575b3;
    border: 1px outset #ffcc00 !important;
  }
  .imagen{
    background-color: white;
    border: 2px outset #ffcc00 !important;
  }
  .imagen:hover{
    background-color: rgba(255, 255, 255, 0.808);
    border: 2.5px outset #ffcc00 !important;
  }
</style>

<body class="bg-light">

  <nav class="navbar navbar-expand-sm navbar-dark"
  style="background-color: #010066">
    <a class="navbar-brand" href="/">
      <img src="https://dl.dropboxusercontent.com/s/rnvk0ph3e2y49aa/home_image.png?dl=0"
                  class="img-fluid imagen rounded-circle mx-auto d-block" width="40" height="40">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="tienda">Tienda</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="about_us">¿Quienes Somos?</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#forma">Contáctanos</a>
        </li>
      </ul>
    </div>
  </nav>
  <br><br>

<body class="bg-light">

  <div class="container">
    <img src="../static/media/mision1.png"
    class="img-fluid rounded-circle mx-auto d-block" width="100" height="100">
        <h1 class="mb-3 display-4 title">
            Misión
        </h1>
        <p class="txt">
            El movimiento Apostólico de Schoenstatt – Internacional, es un     movimiento de gracia, vida e ideas. 
            Forjador de personas, familias y comunidades capaces de contribuir eficazmente a la evangelización de la sociedad;
            teniendo como ideal la persona a la Santísima Virgen, Madre, Reina y Victoriosa Tres Veces Admirable de Schoenstatt,
            la más perfecta y leal seguidora de Cristo en nuestra iglesia actual. Schoenstatt es un lugar de gracia donde se encuentra con Dios, 
            a través del Santuario, donde la Santísima Virgen, en su advocación de Madre Tres Veces Admirable de Schoenstatt, 
            concede las gracias de   cobijamiento, transformación interior y envío apostólico.
            El Santuario Original se encuentra ubicado en la ciudad de Vallendar cerca del rio Rhin, en Alemania. 
            Y Existen más de 200 Santuarios filiales, y en Colombia contamos con dos: Armenia y Pereira.
        </p>   
    </div>
    
    <div class="container">
        <img src="../static/media/vision.jpg"
        class="img-fluid rounded-circle mx-auto d-block" width="100" height="100" style="margin-top: 50px;">
    <h1 class="mb-3 display-4 title">
        Visión
    </h1>
    <p class="txt">
        La fuente y centro de la espiritualidad de Schoenstatt la constituye la Alianza de Amor con María. 
        Esta Alianza es el corazón de Schoenstatt. Es la respuesta a la invitación de Jesús: 
        “Ahí tienes a tu Madre” y la renovación del compromiso bautismal.  
        María cobija, transforma y envía aliados. Quiere educarnos como hombres nuevos, a imagen de Cristo, 
        y enviarlos como apóstoles.
    </p>
    </div>

    <div class="container">
        <img src="../static/media/fundador.jpeg"
        class="img-fluid rounded-circle mx-auto d-block" width="100" height="100" style="margin-top: 50px;">
        <h1 class="mb-3 display-4 title">
            Fundador
        </h1>
        <p class="txt">
            El padre José Kentenich, fundador del movimiento de renovación Católica, Carismática, 
            Apostólica y Moral del mundo en Cristo Jesús.
            El padre, nació el 18 de noviembre de 1.885 en la ciudad de Gymnich Colonia, 
            Alemania. Se ordenó como sacerdote en la comunidad Palotina, el 8 de Julio de 
            1910 y murió en la iglesia de la adoración de Schoenstatt el 15 de septiembre de 1.968.
            El carisma del padre José Kentenich abarca las siguientes dimensiones:
            <ul class="txt">
                <li>Mentalidad Orgánica: todos somos “uno”</li>
                <li>Marianismo: posee un marcado carácter Mariano que contempla María en su inseparable bienvenida con Cristo Jesús</li>
                <li>Filialidad: Schoenstatt quiere ser familia y trabajar para que la iglesia y el mundo sea familia.</li>
                <li>
                    Conocimiento de Misión: formar auténticos apóstoles y misioneros que por medio de María llevemos 
                    a su hijo a los hogares y a personas a nuestro alrededor.
                </li>
            </ul>
            <b class="txt" style="font-weight:bold;">Fecha de Fundación:</b><br>
            <ul class="txt">
                <li>El 18 de Octubre de 1.914, en Schoenstatt, Alemania.</li>
                <li>En el año 2004 en Bogotá, Cali y Medellín.</li>         
        </p>
        </div>
    
        <div class="container">
            <img src="../static/media/centro.png"
            class="img-fluid rounded-circle mx-auto d-block" width="100" height="100" style="margin-top: 50px;">
            <h1 class="mb-3 display-4 title">
                Campos de Apostolado
            </h1>
            <p class="txt">
                <span style="font-weight: bold;">1.</span> Campaña de la Virgen Peregrina:<br><br>
                En el año 1950 se inicia la campaña de la Virgen Peregrina, en Santa María del Brasil, con Don Luis Joao Pozzobon 
                (Siervo de Dios) peregrinando a María quien lleva a su Hijo, Jesús, a los hogares, parroquias, hospitales, colegios, etc. 
                Para transformarlos en hombres nuevos, mujeres nuevas y comunidades nuevas.
                En la ciudad de Cali, todas las imágenes para peregrinar parten del Santuario parroquial, 
                Éste está situado en la Parroquia Virgen Peregrina barrio el Ingenio y luego llevarla a los hogares 
                se promueve el rezo del Santo Rosario. De esta manera, 
                María ejerce su función de mediadora conduciendo a Cristo y transformando los corazones. 
                En la actualidad contamos con 200 misioneras.<br><br>

                <span style="font-weight: bold;">2.</span> Fundaciones a las que apoyamos: 
                <ul class="txt">
                    <li>Centro de ayuda a la mujer “Casita de la niña María” Provida, Barrio Colseguros </li>
                    <li>
                        Fundación Laicos por la vida “Hijos de la Inmaculada Concepción” Fulavic Hic , 
                        Próvida , Barrio los Cámbulos 
                    </li>
                    <li>Fundación Santa Ana - Pance.</li>
                    <li>Fundación para adultos desprotegidos, suroccidente de Cali.</li>
                    <li>Hogar mis abuelitos en el Barrio el Ingenio.</li>
                    <li>Apoyo con mercaditos en diferentes parroquias de Cali y Jamundí.</li>
                </ul>      
            </p>
            </div>
        
            <div class="container">
                <img src="../static/media/lugares_encuentro.jpeg"
                class="img-fluid rounded-circle mx-auto d-block" width="100" height="100" style="margin-top: 50px;">
                <h1 class="mb-3 display-4 title">
                    Lugares de Reunión
                </h1>
                <p class="txt">
                    <ul class="txt">
                        <li>
                            Parroquia Virgen Peregrina, los jueves de 3:30 a 5:30, 
                            ubicada en la calle14 No 84-35 Barrio Ingenio II.
                        </li>
                        <li>
                            Parroquia del Divino Salvador, el último lunes de cada mes de 3 pm a 5pm, 
                            ubicada en la calle 3 No 66B-73 Barrio Caldas.
                        </li>
                        <li>
                            Templo Votivo del Sagrado Corazón, Barrio Centenario, los martes de 10:30 a 12 m, 
                            ubicada en la Avenida 3 norte No 7-01
                        </li>
                        <li>
                            Parroquia La María los martes de 4pm a 6:00 pm 
                            ubicada en la carrera 127, avenida Cañasgordas.
                        </li>
                        <li>
                            Parroquia Sagrados Corazones de Jesús Y María, 
                            martes 2 pm. Saladito, Felidia.
                        </li>
                    </ul>        
                </p>
                </div>
            
                <div class="container">
                  <img src="../static/media/lugares_encuentro.jpeg"
                  class="img-fluid rounded-circle mx-auto d-block" width="100" height="100" style="margin-top: 50px;">
                  <h1 class="mb-3 display-4 title">
                      Boletines Trimestrales
                  </h1>
                  <p class="txt">
                      <ul class="txt">
                          <li>
                            <a href="{{url_for('static', filename='/media/BOLETIN_SEP_DIC_2020.pdf')}}" download="BOLETIN_SEP_DIC_2020"
                            class="fas fa-download">
                              <b>BOLETÍN 2020-3</b></a>
                          </a>
                          </li>
                            <br>
                          <li>
                            <a href="../static/media/BOLETIN_dic 24.pdf" download="BOLETIN_SEP_DIC_2020"
                            class="fas fa-download">
                              <b>BOLETÍN 2020-4</b></a>
                          </li>
                      </ul>        
                  </p>
                  </div>


<div class="container contactanos"> 
  <form action="/" method="POST" class="w3-container w3-card-4 w3-light-grey form"
      style="margin-top: 50px !important;" id="forma">
    <h2 class="w3-center">Contáctanos</h2>
     
    <div class="w3-row w3-section">
      <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-user"></i></div>
        <div class="w3-rest">
          <input class="w3-input w3-border" name="first" type="text" placeholder="Nombre">
        </div>
    </div>
    
    <div class="w3-row w3-section">
      <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-user"></i></div>
        <div class="w3-rest">
          <input class="w3-input w3-border" name="last" type="text" placeholder="Apellido">
        </div>
    </div>
    
    <div class="w3-row w3-section">
      <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-envelope-o"></i></div>
        <div class="w3-rest">
          <input class="w3-input w3-border" name="email" type="text" placeholder="Email">
        </div>
    </div>
    
    <div class="w3-row w3-section">
      <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-phone"></i></div>
        <div class="w3-rest">
          <input class="w3-input w3-border" name="phone" type="text" placeholder="Teléfono">
        </div>
    </div>
    
    <div class="w3-row w3-section">
      <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-pencil"></i></div>
        <div class="w3-rest">
          <textarea class="w3-input w3-border" rows="5" id="comment" name="text"
            placeholder="Me gustaría averiguar mas sobre...."></textarea>
        </div>
    </div>
    
    <button class="w3-button w3-block w3-section w3-ripple w3-padding" 
      style="background-color: #010066; color: white">
      Enviar
    </button>
    
    </form>  
</div>

</article>       


<!-- Footer -->
<footer class="page-footer font-small blue">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="/">Schoenstatt</a>
    <br>
    Creado por: <a target="_blank"
      href="https://www.linkedin.com/in/bryan-ortiz/">Bryan Ortiz Lenis</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->

</body>

</html>
